.myPosts {
    padding: 10px;
}

.addPostForm {
    display: flex;
    align-items: flex-start;
    min-height: 80px;
}

.addPostForm textarea {
    width: 100%;
    min-height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #edf2f6;
    border: 1px solid #333333;
    resize: none;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.addPostForm button {
    padding: 12px 20px;
    margin-left: 20px;
    background-color: mediumslateblue;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 5px #333333;
    cursor: pointer;
}

.addPostForm button:hover {
    background-color: blueviolet;
}

.addPostForm button:active {
    scale: 0.95;
}
