.authInfo {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}

.details:hover {
    background-color: #364b56;
}

/*.authInfo::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    right: 10px;
    top: 50%;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg) translateY(-100%);
}*/


.userPhoto {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
}

.userName {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: right;
    color: white;
}

.userName::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/images/arrow-left.svg');
    background-position: right center;
}

.authInfo button {
    padding: 8px 10px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.authInfo button:hover {
    color: mediumslateblue;
    border-color: mediumslateblue;
}

.authInfo button:active {
    scale: 0.95;
}
