.profile {
    display: flex;
    width: 100%;
    border: 1px solid #364b56;
    box-shadow: 2px 2px 5px #364b56;
    border-radius: 4px;
    padding: 40px 20px;
}

.imageBlock {
    width: 350px;
    margin-right: 45px;
}

.profileImage {
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
}

.profileImage + button {
    padding: 5px 15px;
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid mediumslateblue;
    border-radius: 4px;
    color: mediumslateblue;
    font-size: 14px;
    box-shadow: 2px 2px 5px #333333;
    cursor: pointer;
}

.profileImage + button:hover {
    background-color: mediumslateblue;
    color: white;
}

.profileImage + button:active {
    box-shadow: none;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
}

.descriptionBlock button {
    padding: 5px 15px;
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid mediumslateblue;
    border-radius: 4px;
    color: mediumslateblue;
    font-size: 14px;
    box-shadow: 2px 2px 5px #333333;
    cursor: pointer;
}

.descriptionBlock button:hover {
    background-color: mediumslateblue;
    color: white;
}

.descriptionBlock button:active {
    box-shadow: none;
}

.personalData {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-align: start;
}

.personalData p {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.fullName {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 30px;
    cursor: pointer;
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lookingForJob {
    position: absolute;
    left: 20px;
    bottom: -6%;
    max-width: 200px;
    min-height: 70px;
    font-size: 22px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.contacts {
    padding: 0;
    list-style-type: circle;
}

.contacts li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contacts li:not(:first-child) {
    padding-left: 40px;
}
