.statusInput {
    min-width: 220px;
    padding: 5px;
    border: 1px solid mediumslateblue;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 2px 2px 5px #656464;
}

.statusInput:focus {
    outline: none;
}

.statusSpan {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    max-width: 250px;
    cursor: pointer;
    color: #656464;
}

.statusSpan svg {
    display: none;
    position: absolute;
    margin-left: 15px;
    fill: grey;
}

.statusSpan:hover svg {
    position: relative;
    display: inline-block;
    fill: mediumslateblue;
}

.statusSpan::after {
    opacity: 0;
    content: 'edit status';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 70px;
    height: auto;
    margin-left: 10px;
    border: 1px solid mediumslateblue;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: mediumslateblue;
    transition: all 0.3s ease-in-out;
}

.statusSpan:hover::after {
    display: inline-block;
    opacity: 1;
}
