.statusBlock {
    display: flex;
    align-items: center;
}

.statusInput {
    min-width: 220px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid mediumslateblue;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 2px 2px 5px #656464;
}

.statusInput:focus {
    outline: none;
}

.statusSpan {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    max-width: 250px;
    margin-left: 10px;
    cursor: pointer;
    color: #656464;
}

.statusSpan svg {
    display: none;
    position: absolute;
    margin-left: 15px;
    fill: grey;
}

.statusSpan:hover svg {
    position: relative;
    display: inline-block;
    fill: mediumslateblue;
}

.statusSpan::after {
    content: 'edit status';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 70px;
    height: auto;
    border: 1px solid mediumslateblue;
    box-shadow: 1px 1px 2px #333333;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background-color: #ffffff;
    color: mediumslateblue;
    transition: all 0.3s ease-in-out;
}

.statusSpan:hover::after {
    background-color: mediumslateblue;
    color: white;
}

.statusSpan:active::after {
    box-shadow: none;
}
