.header {
    grid-area: header;
    width: 100%;
    min-height: 60px;
    background-color: #1d2f38;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 30px;
}

.header img {
    display: block;
    width: 31px;
    height: 31px;
    object-fit: cover;
}