.header {
    grid-area: header;
    min-height: 60px;
    background-color: #1d2f38;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 0;
}

.logo:hover {
    background-color: #364b56;
}

.header img {
    display: block;
    margin-right: 10px;
    width: 31px;
    height: 31px;
    object-fit: cover;
}

.loginLink {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.loginLink:hover {
    background-color: #364b56;
}

.nav {
    margin-right: 70px;
    margin-left: 50px;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.nav__item a {
    padding: 20px;
    cursor: pointer;
}

.nav__item svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.nav__item:hover{
    background-color: #364b56;
}

.nav__item:active svg {
    opacity: 0.5;
}