.header {
    grid-area: header;
    min-height: 60px;
    background-color: #1d2f38;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 0;
}

.logo:hover {
    background-color: #364b56;
}

.header img {
    display: block;
    margin-right: 10px;
    width: 31px;
    height: 31px;
    object-fit: cover;
}

.loginLink {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.loginLink:hover {
    background-color: #364b56;
}

.nav {
    margin-right: 70px;
    margin-left: 50px;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.nav__item a {
    padding: 20px;
    cursor: pointer;
}

.nav__item svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.nav__item:hover{
    background-color: #364b56;
}

.nav__item:active svg {
    opacity: 0.5;
}

.searchForm {
    position: relative;
}

.searchForm__input {
    position: relative;
    padding: 5px 5px 5px 25px;
    border-radius: 4px;
    width: 200px;
    height: 30px;
}

.searchForm__dropdown {
    display: none;
}

.dropdown__visible {
    display: block;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background-color: #ffffff;
    z-index: 10;
}

.dropdown__item {
    list-style-type: none;
    height: 40px;
    font-size: 14px;
    border: 1px solid #333333;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown__item:hover {
    opacity: 0.7;
}

.dropdown__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #333333;
}

.dropdown__item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #333333;
}

.searchForm svg {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    fill: grey;
}